<!DOCTYPE html>
{% load render_table from django_tables2 %}
{% load staticfiles %}
<html>
<head>
	<title>Detail Admin - User list</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <!-- bootstrap -->
    <link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap/bootstrap-responsive.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap/bootstrap-overrides.css' %}" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href= "{%static 'css/layout.css' %}" />
    <link rel="stylesheet" type="text/css" href= "{%static 'css/elements.css' %}" />
    <link rel="stylesheet" type="text/css" href= "{%static 'css/icons.css' %}"/>

    <!-- libraries -->
    <link href="{%static 'css/lib/font-awesome.css' %}" type="text/css" rel="stylesheet" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="{%static 'css/compiled/user-list.css' %}" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

<!-- navbar -->
<div class="navbar navbar-inverse">
<div class="navbar-inner">
<button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>

<a class="brand" href="/login/index/"><img src="{% static 'img/logo.png' %}" /></a>

<ul class="nav pull-right">
<li class="settings hidden-phone">
<a href="signin.html" role="button">
<i class="icon-share-alt"></i>
</a>
</li>
<li class="dropdown-toggle hidden-phone" data-toggle="dropdown" font-color=white>
退出登录
</li>
</ul>
</div>
</div>
<!-- end navbar -->

    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li>
                <a href="/login/s-index/">
                    <i class="icon-home"></i>
                    <span>首页</span>
                </a>
            </li>
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="/login/s-grade-list/">
                    <i class="icon-signal"></i>
                    <span>我的成绩</span>
                </a>
            </li>
            <li>
            <a href="/login/s-profile/">
            <i class="icon-cog"></i>
            <span>我的信息</span>
            </a>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->
    

	<!-- main container -->
    <div class="content">
        
        <div class="container-fluid">
            <div id="pad-wrapper" class="users-list">
                <div class="row-fluid header">
                    <h3>我的成绩</h3>
                </div>
<!--                 <div class="span10 pull-right">
                    <input type="text" class="span5 search" placeholder="请输入查询的课程" />
                    <td><a class="btn-glow">搜索</a></td>
                </div> -->
            </div>
        </div>

                <!-- Users table -->
                <div class="row-fluid table">
					{% render_table StudentInfo %}
<!--                     <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="span4 sortable">
                                    课程
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>成绩
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr class="first">
                            <td>
                                <a href="user-profile.html" class="name">编译原理 </a>
                                <span class="subtext">第一学期</span>
                            </td>
                            <td>
                                90
                            </td>
                        </tr>
                        <tr class="first">
                        <td>
                        <a href="user-profile.html" class="name">编译原理 </a>
                        <span class="subtext">第一学期</span>
                        </td>
                        <td>
                        90
                        </td>
                        </tr>
                        <tr class="first">
                        <td>
                        <a href="user-profile.html" class="name">编译原理 </a>
                        <span class="subtext">第一学期</span>
                        </td>
                        <td>
                        90
                        </td>
                        </tr>
                        <tr class="first">
                        <td>
                        <a href="user-profile.html" class="name">编译原理 </a>
                        <span class="subtext">第一学期</span>
                        </td>
                        <td>
                        90
                        </td>
                        </tr>
                        </tbody>
                    </table> -->
                </div>
<!--                 <div class="pagination pull-right">
                    <ul>
                        <li><a href="#">&#8249;</a></li>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&#8250;</a></li>
                    </ul>
                </div> -->
                <!-- end users table -->
            </div>
        </div>
    </div>
    <!-- end main container -->


	<!-- scripts -->
    <script src="{%static 'js/jquery-latest.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
    <script src="{%static 'js/theme.js' %}"></script>

</body>
</html>